:root {
  --mbp-white: #ffffff;
  --mbp-eggshell: #e3e3dd;
  --mbp-dark-blue: #005172;
  --mbp-teal: #3095b4;
  --mbp-yellow: #f69240;
  --mbp-green: #7ab800;
  --pos-yellow: #EBB700;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

p {
  font-size: 1.25rem;
}
/* Port of Seattle brand colors */
.mbp-eggshell {
  color:#e3e3dd !important;
}

  .sm-h2 {
    font-size: 2.6rem !important;
  }

.mbp-yellow {
  color: var(--mbp-yellow);
}

.mbpbtn {
  color: var(--mbp-dark-blue);
}

#mbp-link {
  background-color: var(--mbp-dark-blue);
  font-weight: 700;
  font-size: 1rem;
  color: #ffff;
}

.mbp-link  {
  color: var(--mbp-teal);
  
}

.pos-link {
  background:  #005172;
border-bottom-right-radius: 10px;
border-radius: 20px 0px;
border-top-left-radius: 10px;
box-sizing: border-box;
color:  #ffffff;
display:block;
font: inherit;
line-height: 24px;
/* margin: 0px 10px 10px 0px; */
outline: none;
padding: 16px 24px;
/* text-align: center;
text-decoration: none;
white-space: pre; */
}

.mbph1 h1 {
  margin-bottom: 25px;
  letter-spacing: 0px;
  color: #ffff;
   font-size: 55px;
}


#logo1 {
  /* margin-top: 68px; */
  display: inline-flex;
  /* max-width: 162px;
max-height: 190px; */
  max-width: 86%;
  max-height: 86%;
  background: transparent url("img/bellevue-logo.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

#logo2 {
  display: inline-flex;
  margin-left: 25px;
  margin-top: 32px;
  max-width: 86%;
  max-height: 86%;
  /* max-width: 171px;
max-height: 170px; */
  /* UI Properties */
  background: transparent url("img/project logo.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

header {
  position: relative;
  width: 100%;
  /* min-height: 85vh;  */
  /* max-height: 90vh; */
  overflow: hidden;
  color: #fff;
  height: 100vh;
}

.header-content {
  text-align: center;
  margin-top: 15em;
}
#hero-section {
  display: flex;
  flex-direction: column;
  height: 90%;
}


.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  /* width: auto;
    height: auto; */
  z-index: -1000;
  transform: translateX(-50%) translateY(-50%);
}
.logo-container > * {
  width: 80vw;
  line-height: 40px;
}

/* .logo {
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
} */



h1 {
  margin-bottom: 15px;
}

.icon {
  margin-left: 15px;
  width: 30px; /* Adjust according to your icon's size */
  height: 30px; /* Adjust according to your icon's size */
}

.form__control {
  width: 100%; /* Ensure the input takes the full width of its container */
  margin-right: 10px; /* Space between input and button, adjust as needed */
}

.section-h2 {
    padding: 1rem;
    margin-top: 5rem !important;
    color: #013a54;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.mbph2 {
    margin-top: 6rem !important;
    color: var(--mbp-teal);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 55px;
    font-weight: 600 !important;
}

.h2-icon-wrap {
  position: relative;
}
.h2-icon {
  position: absolute;
  z-index: 50;
  bottom: -36px;
  left: -18px;
  transform: rotate(5deg);
}

.h2-icon img {
  max-width: 100px;
}

.h3-section {
  color: var(--mbp-dark-blue);
}

.strong-teal {
  font-weight: 600;
  color: var(--mbp-teal);
}

.pg-down-chevron {
  font-size: 28px;
}
.email-bar {
  max-width: 600px;
  min-width: 300px;
}
.email-bar input {
    padding: 8px 12px;
}

.park-name {
  font-weight: 600;
  color: var(--mbp-dark-blue)
}
.email-bar,
.email-bar * {
  border-radius: 5px;
}

.social-icons {
  max-height: 28px;
}

.lang-link {
  color: var(--mbp-teal);
  font-weight: 500;
}

.lang-link:visited,
.lang-link:hover {
  color: var(--mbp-dark-blue);
}



.bg-green-sect {
 background-color: var(--mbp-dark-blue);
 width: 100vw;
}


/* ### Carousel styles #### */

#caro-section {
  background-color: #7ab800;
  padding: 20px; /* Adjust as needed for spacing */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  text-align: left;
}

#historyCarousel {
  width: 85%; /* Width of the carousel */
  margin: auto; /* Centering the carousel */
}

.carousel-inner .carousel-item {
  position: relative;
  height: 800px; /* Fixed height */
}

.carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;
  text-align: left;
  font-size: 18px; 
} */

.carousel-control-prev, 
.carousel-control-next {
  width: auto; /* Auto width for controls */
  height: auto; /* Auto height for controls */
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px; /* Size of arrows */
  width: 50px;
}

.carousel-indicators {
  position: absolute;
  bottom: -10px; /* Adjust position outside of images */
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
}

.carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px; /* Space between indicators */
  background-color: #fff; /* Color of indicators */
}

/* .carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px; 
  max-width: 80%; 
  width: auto;
  word-wrap: break-word; 
}

@media (max-width: 768px) {
  .carousel-caption {
      font-size: 16px; 
      padding: 15px;
      max-width: 90%;
  }
} */
#caro-section {
  background-color: #7ab800;
  padding: 20px; /* Adjust for spacing */
}

#historyCarousel {
  width: 90%; 
}

.carousel-inner .carousel-item {
  position: relative;
  height: auto; /* Height adjusts to image */
}

.carousel-inner .carousel-item img {
  width: 100%;
  height: auto; /* Image scales with the width */
  object-fit: cover; /* Adjusts the image to cover the item area */
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Caption takes up 75% of image width */
  max-width: 100%; /* Ensures it doesn't exceed the item's width */
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  font-size: 18px; /* Adjust font size as needed */
  word-wrap: break-word;
  min-height:max-content;
}

@media (max-width: 468px) {
  .carousel-caption {
    top: 5%;
    left: 5%;
      font-size: 1.2rem important; /* Smaller font for mobile */
      padding: 15px;
      text-align: left;
       /* min-height: 800px; */
       width: 90%;
  }

  #historyCarousel {
    width: 100%;
  }
}


/* ### Media queries  */

@media screen and (min-width: 801px) {
   
  .mbph1 {
    font-size: 40px;
  }
  .logo-container > * {
    width: 10rem;
  }
}
@media  screen and (max-width: 390px) {
  .mbph1 {
    font-size: 28px;
    margin-top: 2rem;
  }
  
}