:root {
  --mbp-white: #ffffff;
  --mbp-eggshell: #fff9f9;
  --mbp-dark-blue: #203350;
  --mbp-teal: #008bb2;
  --mbp-yellow: #ffb30d;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
}

p {
  font-size: 1.25rem;
}
/* brand colors */
.mbp-eggshell {
  color: var(--mbp-eggshell);
}

.mbp-yellow {
  color: var(--mbp-yellow);
}

.mbpbtn {
  color: var(--mbp-yellow);
}

#mbp-link {
  background-color: var(--mbp-yellow);
  font-weight: 700;
  font-size: 1rem;
padding: 8px 12px;
}

.mbp-link  {
  color:#fff9f9 !important;
}
.mbph1 {
  margin-top: 100px;
  letter-spacing: 0px;
  color: #ffff;
  font-size: 2rem;
}
#logo1 {
  /* margin-top: 68px; */
  display: inline-flex;
  /* max-width: 162px;
max-height: 190px; */
  max-width: 86%;
  max-height: 86%;
  background: transparent url("img/bellevue-logo.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

#logo2 {
  display: inline-flex;
  margin-left: 25px;
  margin-top: 32px;
  max-width: 86%;
  max-height: 86%;
  /* max-width: 171px;
max-height: 170px; */
  /* UI Properties */
  background: transparent url("img/project logo.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

header {
  position: relative;
  width: 100%;
  /* min-height: 85vh;  */
  /* max-height: 90vh; */
  overflow: hidden;
  color: #fff;
}

.header-content {
  text-align: center;
  margin-top: 15em;
}

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  /* width: auto;
    height: auto; */
  z-index: -1000;
  transform: translateX(-50%) translateY(-50%);
}
.logo-container > * {
  width: 8rem;
}

/* .logo {
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
} */

#hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

h1 {
  margin-bottom: 15px;
}

.icon {
  margin-left: 15px;
  width: 30px; /* Adjust according to your icon's size */
  height: 30px; /* Adjust according to your icon's size */
}

.form__control {
  width: 100%; /* Ensure the input takes the full width of its container */
  margin-right: 10px; /* Space between input and button, adjust as needed */
}

.section-h2 {
  padding: 1rem;

  margin-top: 5rem !important;
}
.h2-icon-wrap {
  position: relative;
}
.h2-icon {
  position: absolute;
  z-index: 50;
  bottom: -36px;
  left: -18px;
  transform: rotate(5deg);
}

.h2-icon img {
  max-width: 100px;
}

.strong-teal {
  font-weight: 800;
  color: var(--mbp-teal);
}

.pg-down-chevron {
  font-size: 28px;
}
.email-bar {
  max-width: 600px;
  min-width: 300px;
}
.email-bar input {
    padding: 8px 12px;
}
.email-bar,
.email-bar * {
  border-radius: 5px;
}

.social-icons {
  max-height: 28px;
}

/* ### Media queries  */

@media screen and (min-width: 801px) {
    #hero-section {
        height: 85vh;
    }
  .mbph1 {
    font-size: 40px;
  }
  .logo-container > * {
    width: 10rem;
  }
}
