:root {
  --mbp-white: #ffffff;
  --mbp-eggshell: #e3e3dd;
  --mbp-dark-blue: #005172;
  --mbp-teal: #3095b4;
  --mbp-yellow: #f69240;
  --mbp-green: #7ab800;
  --pos-yellow: #EBB700;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-size: 1.25rem;
}
/* Port of Seattle brand colors */
.mbp-eggshell {
  color: var(--mbp-eggshell);
}

.mbp-yellow {
  color: var(--mbp-yellow);
}

.mbpbtn {
  color: var(--mbp-dark-blue);
}

#mbp-link {
  background-color: var(--mbp-dark-blue);
  font-weight: 700;
  font-size: 1rem;
  color: #ffff;
}

.mbp-link  {
  color: var(--mbp-teal);
  
}

.pos-link {
  background:  #005172;
border-bottom-right-radius: 10px;
border-radius: 20px 0px;
border-top-left-radius: 10px;
box-sizing: border-box;
color:  #ffffff;
display:block;
font: inherit;
line-height: 24px;
/* margin: 0px 10px 10px 0px; */
outline: none;
padding: 16px 24px;
/* text-align: center;
text-decoration: none;
white-space: pre; */
}

.mbph1 h1 {
  margin-bottom: 25px;
  letter-spacing: 0px;
  color: #ffff;
   font-size: 55px;
}


#logo1 {
  /* margin-top: 68px; */
  display: inline-flex;
  /* max-width: 162px;
max-height: 190px; */
  max-width: 86%;
  max-height: 86%;
  background: transparent url("img/bellevue-logo.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

#logo2 {
  display: inline-flex;
  margin-left: 25px;
  margin-top: 32px;
  max-width: 86%;
  max-height: 86%;
  /* max-width: 171px;
max-height: 170px; */
  /* UI Properties */
  background: transparent url("img/project logo.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}

header {
  position: relative;
  width: 100%;
  /* min-height: 85vh;  */
  /* max-height: 90vh; */
  overflow: hidden;
  color: #fff;
  height: 100vh;
}

.header-content {
  text-align: center;
  margin-top: 15em;
}
#hero-section {
  display: flex;
  flex-direction: column;
  height: 90%;
}


.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  /* width: auto;
    height: auto; */
  z-index: -1000;
  transform: translateX(-50%) translateY(-50%);
}
.logo-container > * {
  width: 80vw;
  line-height: 40px;
}

/* .logo {
    margin-right: 15px;
    display: inline-block;
    vertical-align: top;
} */



h1 {
  margin-bottom: 15px;
}

.icon {
  margin-left: 15px;
  width: 30px; /* Adjust according to your icon's size */
  height: 30px; /* Adjust according to your icon's size */
}

.form__control {
  width: 100%; /* Ensure the input takes the full width of its container */
  margin-right: 10px; /* Space between input and button, adjust as needed */
}

.section-h2 {
    padding: 1rem;
    margin-top: 5rem !important;
    color: #013a54;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.mbph2 {
    margin-top: 6rem !important;
    color: var(--mbp-teal);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 55px;
    font-weight: 600 !important;
}

.h2-icon-wrap {
  position: relative;
}
.h2-icon {
  position: absolute;
  z-index: 50;
  bottom: -36px;
  left: -18px;
  transform: rotate(5deg);
}

.h2-icon img {
  max-width: 100px;
}

.h3-section {
  color: var(--mbp-dark-blue);
}

.strong-teal {
  font-weight: 600;
  color: var(--mbp-teal);
}

.pg-down-chevron {
  font-size: 28px;
}
.email-bar {
  max-width: 600px;
  min-width: 300px;
}
.email-bar input {
    padding: 8px 12px;
}

.park-name {
  font-weight: 600;
  color: var(--mbp-dark-blue)
}
.email-bar,
.email-bar * {
  border-radius: 5px;
}

.social-icons {
  max-height: 28px;
}

.lang-link {
  color: var(--mbp-teal);
  font-weight: 500;
}

.lang-link:visited,
.lang-link:hover {
  color: var(--mbp-dark-blue);
}
/* ### Media queries  */

@media screen and (min-width: 801px) {
   
  .mbph1 {
    font-size: 40px;
  }
  .logo-container > * {
    width: 10rem;
  }
}
@media  screen and (max-width: 390px) {
  .mbph1 {
    font-size: 28px;
    margin-top: 2rem;
  }
  
}